{% extends "home/home.html" %}
{% import "ui/home_page.html" as pg %}

{% block css %}
<style>
    .collection_title {
        padding: 5px;
    }

    .collection_desc {
        width: 92%;
        margin-left: 5px;
    }
</style>
{% endblock %}

{% block content %}
{% include "home/menu.html" %}
<div class="col-md-9">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;收藏</h3>
        </div>
        <div class="panel-body">
            {% for v in page_data.items %}
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a href="{{ url_for('home.play', vid=v[0]) }}">
                                <img class="media-object" style="width: 131px; height: 83px;"
                                     src="{{ url_for('static', filename='upload/' + v[1]) }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading collection_title">{{ v[2] }}</h4>
                            <div class="collection_desc">{{ v[3] }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-12 text-center" style="margin-top:6px;">
                {{ pg.page(page_data, "home.collection") }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(function () {
        $('#menu_collection').addClass("active");
    });
</script>
{% endblock %}