{% extends "home/home.html" %}
{% import "ui/search_page.html" as pg %}

{% block css %}
<style>
    .collection_title {
        padding: 5px;
    }

    .collection_desc {
        width: 92%;
        margin-left: 5px;
    }
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top:6px;">
            <li>与"{{ key_word }}"有关的电影，共{{ page_data.total }}部</li>
        </ol>
    </div>
    <div class="col-md-12">

        {% for v in page_data.items %}
			<div class="media">
				<div class="media-left">
					<a href="{{ url_for('home.play', vid=v.id) }}">  {#target="_blank"#}
						<img class="media-object" style="width: 131px; height: 83px;" src="{{ url_for('static', filename='upload/' + v.logo) }}">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading collection_title">{{ v.title }}</h4>
					<div class="collection_desc">{{ v.info }}</div>
				</div>
			</div>
        {% endfor %}

    </div>
    <div class="col-md-12 text-center">
        {{ pg.page(page_data, "home.search", key_word) }}
    </div>
</div>

{% endblock %}