{% extends "admin/admin.html" %}

{% block content %}
<section class="content-header">
    <h1>Pyvideos后台管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>个人资料</a></li>
        <li class="active">修改密码</li>
    </ol>
</section>

<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">修改密码</h3>
                </div>
				<div class="box-body">
					<div class="form-group">
						<label style="margin-left: 5px;">新密码</label>
						<input type="password" class="form-control" id="input_newpwd">
					</div>
					<div class="form-group">
						<label style="margin-left: 5px;">确认密码</label>
						<input type="password" class="form-control" id="input_newpwd_check">
					</div>
				</div>
				<div class="box-footer">
					<button onclick="modify_pwd()" class="btn btn-primary">修改</button>
				</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    function modify_pwd() {
    	var newpwd = $('#input_newpwd').val();
    	var newpwd_check = $('#input_newpwd_check').val();
    	if (newpwd == ""){
    		alert("新密码不可为空");
    		return;
		} else if (newpwd != newpwd_check){
    		alert("请确认密码！");
    		return;
		}
    	$.ajax({
			url: "/admin/modify_pwd",
			type: "POST",
			dataType: "json",
			data: { newpwd: newpwd },
			success: function (res) {
				alert(res.msg);
			},
			error: function () {
				alert("网络出错！");
			}
		});
	}
</script>
{% endblock %}
